In [1]:
import pandas as pd
import numpy as np

import EDA
import VGS_preprocessing


filename = "vgsales.csv"
df = pd.read_csv(filename)
# Replace missing values
na = VGS_preprocessing.NA(df)
df_na = na.replace('Publisher')
df_na.loc[df.Publisher.isnull()].head()
# Impute missing years
impute = VGS_preprocessing.Impute(df_na)
impute.set_train()
en = VGS_preprocessing.Encode()
en.one_hot(impute.xtr)
impute.xtr = en.encoder.transform(impute.xtr)
impute.ximpute = en.encoder.transform(impute.ximpute)
impute.nb()
impute.impute()

train accuracy:
0.22882342132663686
cv accuracy:
[0.19585745 0.20079462 0.21065524 0.22215403 0.19494918]

/home/tianyi/anaconda3/envs/insight/lib/python3.7/site-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

In [3]:
impute.df_impute.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [13]:
df_x = impute.df_impute.iloc[:, 2:6]
df_y = impute.df_impute.iloc[:, -1]

In [14]:
en = VGS_preprocessing.Encode()
en.one_hot(df_x)
x = en.encoder.transform(df_x)

In [17]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [19]:
lr.fit(x, df_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [20]:
lr.score(x, df_y)

0.14708072197869304